* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.logo {
    max-width: 100px;
}

header > .container, section {
    margin: 0 auto;
    max-width: 1100px;
    background-color: orange;
}

.section {
    background-color: aquamarine;
}

header .col {
    display: flex;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
   flex-basis: calc(100% / 3);
}

.img {
    /* width: 300px;
    height: 500px; */
    /* background-image: url('../img/1.webp'); */
    background-size: cover;
    background-position: center;
    position: relative;
}

.heart {
    width: 30px;
    background-color: white;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 10px;
}

.discount {
    display: flex;
    color: white;
    text-align: center;
    font-size: 13px;
    gap: 5px;
    position: absolute;
    bottom: 77px;
}

.sconto {
    width: 50px;
    padding: 5px;
    background-color: red;
}

.green {
    width: max-content;
    padding: 5px;
    background-color: green;
}

.prezzo {
    color: red;
}